@charset "UTF-8";

h2{
	font-size: 20px;
	margin-left: 1em;
}
p{
	margin-left: 1em;
}
h2 + p{
	margin-left: 1em;
	text-indent: 1em;
}
figure {
	margin: 0 0 0 1em;
	padding: 0;
}

/*
figure img{
	border: 1px solid #000;
	outline: 5px solid aqua;
	outline-offset: -5px
}
*/
figure img {
	padding: 5px;
	border: 1px solid #000;
	box-shadow: 0 0 0 5px aqua inset;
}

