@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 20px;
}

header h1 {
	margin: 0;
	padding: 0;
	font-size: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -30%);
	text-align: center;
	letter-spacing: .3em;
	color: #fff;
	text-shadow: 2px 2px 2px darkslateblue, -2px 2px 2px darkslateblue, 2px -2px 2px darkslateblue, -2px -2px 2px darkslateblue;
}
header img{
	max-width: 960px;
	width: 100%;
}

#wrapper {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

#contents {
	display: flex;
	justify-content: space-between
}

main {
	width: calc(100% - 200px - 10px)
}

nav {
	width: 200px;
	background-color: aliceblue
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	box-sizing: border-box;
	border: 1px solid #000;
	margin-bottom: 7px;
	border-radius: 7px 0 7px 0;
}

nav li.sec {
	margin-left: 1em;
}

nav li a {
	text-decoration: none;
	padding: 10px 5px;
	display: block;
	background-color: #effcee;
	border-radius: 7px 0 7px 0;
}

nav li a:hover {
	background-color: #abefa6;
	border-radius: 7px 0 7px 0;
}

.current a {
	background-color: #abefa6;
	border-radius: 7px 0 7px 0;
}

.home a {
	background-color: #fbcdc4;
	color: #333;
	border-radius: 7px 0 7px 0;
}

.home a:hover {
	background-color: #e62e0e;
	color: #fff;
	border-radius: 7px 0 7px 0;
}

footer {
	width: 100%;
	box-sizing: border-box;
	background-color: #98ca97;
	color: white;
	margin: 20px 0;
	padding: 10px;
	text-align: center;
	border: 1px solid #fff;
	box-shadow: 0 0 0 5px #98ca97;
}

@media screen and (max-width:600px) {
	header h1 {
		font-size: 200%;
	}

	#contents {
		flex-direction: column;
	}

	main {
		width: calc(100% - 10px);
		margin: 0 auto;
	}

	nav {
		width: calc(100% - 10px);
		margin: 0 auto 20px;
	}

	nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around
	}

	nav li {
		width: calc(100%/2 - 20px);
	}

	nav li.sec {
		margin-left: 0;
	}

	nav li a {
		padding: 7px 5px;
	}
	nav hr{
		display: none
	}
}
