@charset "UTF-8";
h1{
	color: #00f;
}

.box {
	display: flex;
/*	justify-content: space-around;*/
	margin-bottom: 20px;
}

figure {
	margin: 0;padding: 0;
	width: calc(100% /2 );
}
figure img {
	width: 100%;
	vertical-align: bottom;
}
main  p{
	box-sizing: border-box;
	width: calc(100% /2);
/*	border: 1px solid #000;*/
/*	padding: 5px;*/
	margin: 0;
}
/*====指示=====*/
h2{
	margin-bottom: 0;
}
.siji  figure{
	width: 95%;
}
.siji  ol{
	padding-bottom: 0;
	margin-bottom: 0;
}
/*
.siji p{
	border: 0;
	width: 100%;
}*/
