@charset "UTF-8";
h2{
	margin-bottom: 0;
}
table{
	width: 90%;
	border: 1px solid #000;
}
table.single {
	border-collapse: collapse;
}
tr,th,td{
	border: 1px solid #000;	
}
th{
	background-color: aqua;
}
td{
	width: 20%;
}