@charset "UTF-8";

div.zukei {
	font-size: 9px;
	display: flex;
	flex-wrap: wrap;
	width: calc(20em*3 + 2.5em*4);
	justify-content: space-around;
	border: 1px solid #f00;
	margin: 0 auto;
	padding: 1.25em;
}

.zukei div {
	position: relative;
	width: 20em;
	height: 20em;
	border: 1px solid #000;
	background-color: chartreuse;
	box-sizing: border-box;
	margin: 1.25em auto;
	padding: 0;
}

.zukei div > div {
	top: 2.5em;
	left: 2.5em;
	width: 15em;
	height: 15em;
	background-color: aqua;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

.zukei div > div > div {
	width: 10em;
	height: 10em;
	background-color: antiquewhite;
	margin: 0;
	padding: 0;
}
