@charset "UTF-8";

div.zukei {
	font-size: 9px;
	display: flex;
	flex-wrap: wrap;
	width: calc(20em*3 + 2.5em*4);
	justify-content: space-around;
	border: 1px solid #f00;
	margin: 0 auto;
	padding: 1.25em;
}

.zukei div {
	width: 20em;
	height: 20em;
	border: 1px solid #000;
	background-color: antiquewhite;
	box-sizing: border-box;
	margin: 1.25em auto;
	box-shadow: 0 0 0 2.5em chartreuse inset,
		0 0 0 calc(2.5em + 1px) black inset,
		0 0 0 5em aqua inset,
		0 0 0 calc(5em + 1px) black inset;
}

.zukei p {
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
